<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brett Smith Refining, LLC</title>
</head>
<body>

    <header class="container my-4">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <h1>Brett Smith Refining, LLC</h1>
                </div>
                <div class="row">
                    <h5>Precious metals refining & custom jewelry manufacturing</h5>
                </div>
            </div>
            <div class="col-md-6">
                <A HREF="http://www.kitco.com/connecting.html">
                    <IMG SRC="http://www.kitconet.com/images/quotes_7a.gif" BORDER="0" ALT="[Most Recent Quotes from www.kitco.com]">
                </A>
            </div>
        </div>
    </header>
    
    <div class="sticky-top">
        <nav class="navbar navbar-expand-md py-0 navbar-static-top" id="mainnav">
            <a href="#" class="navbar-brand">Brett Smith Refining, LLC</a>                                  
            <button class="navbar-toggler" data-toggle="collapse" data-target="#links">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="links">
                <ul class="navbar-nav">
                    <li class="nav-item">
                         <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    
