<% include partials/header %>

<div class="container">
   
   <div class="container m-3">
      <h2>About Us</h2>
   </div>

   <div class="container m-3">
      <p id="about">Brett Smith, Owner.</p>

      <p id="about">Brett Smith graduated with a bachelor’s degree in business management at Towson University in
         2009. He further honed his business knowledge spending 3 years as an Account Executive and
         Talent Acquisition Specialist with Tech USA, a leading information technology staffing agency
         headquartered in Maryland.</p>
         
      <p id="about">Brett learned the business for 4 years under his father, Sandy Smith, before starting his own
         company in 2016. As a family owned business, Brett brings 35+ years of experience and industry
         knowledge to the table, has a wide base of experience managing precious metal bearing material
         from start to finish, and continues a long-standing tradition of honesty and integrity for his
         customers.</p>
   </div>
    

</div>


<% include partials/footer %>