<% include partials/header %>

<div class="containerr">
    <div class="row justify-content-center text-center">
        <div class="col-12">
            <div class="text-center justify-content-center my-5">
                <p id="hey">We'd love to hear from you!</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <div class="col-xl-3">
            <div class="card p-3">
                <div class="card-body">
                    <i class="far fa-envelope fa-3x p-2"></i>
                    <p class="card-subtitle mb-2 font-weight-bold line">Email</p>
                    <p class="card-text line">bsmith@brettsmithrefining.com</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card p-3">
                <div class="card-body">
                    <i class="fas fa-address-card fa-3x p-2"></i>
                    <p class="card-subtitle mb-2 font-weight-bold line">Brett Smith Refining, LLC</p>
                    <p class="card-text line">36 West 47th Street Room 300</p>
                    <p class="card-text line">New York, NY 10036</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card p-3">
                <div class="card-body">
                    <i class="fas fa-phone-square fa-3x p-2"></i>
                    <p class="card-subtitle mb-2 line">Phone: (609) 558-2981</p>
                    <p class="card-text line">Fax (347) 695-8116</p>
                </div>
            </div>
        </div>
    </div>

</div>


<% include partials/footer %>