<% include partials/header %>

<section class="container-fluid px-0 content" id="info">
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h3>Improving the customer experience through quality and honest precious metal refining
                    practices, ensuring the best return for our customers.</h3>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
        </div>
    </div>
</section>

<section class="container-fluid px-0 content" id="info">
    <div class="row align-items-center">
        <div class="col-md-6 order-2 order-md-1">
            <img class="img-fluid"  src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/pouring-a-90oz-gold-bar-gary-rose.jpg" alt="">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h3>Precious Metal Recovery through Melt & Assay</h3>
                    <ul>
                        <li>Scrap jewelry, precious metal bars, old precious metal inventory & any other
                            precious metal containing items can be melted utilizing our high-powered
                            induction furnaces.
                            </li>
                        <li>A sample of the material will then be scientifically tested to determine the amount
                            of precious metals within the melted items and you will be compensated for the
                            value of the precious metals.
                            </li>
                    </ul>
                </div>
            </div>           
        </div>
        
    </div>
</section>

<section class="container-fluid px-0 content" id="info">
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <h3>Processing of Sweeps Material</h3>
                        <ul>
                            <li>Polishing sweeps and dust, bench sweeps, refining solutions, refining residues,
                                    filters, and other material containing traces of precious metals can be brought to
                                    our facilities to be processed.</li>
                            <li>The material will first be burned to rid of non-metal contents, then crushed to a
                                    powder, sifted to remove any larger items that were unable to be crushed such as
                                    stainless steel or other worthless metals.</li>
                            <li>A sample of the material will then be scientifically tested to determine the amount
                                    of precious metals within the material and you will be compensated for the value
                                    of the precious metals.</li>
                        </ul>
                    </div>
                </div>           
            </div>
            <div class="col-md-6">
                <img class="img-fluid"  src="https://images.unsplash.com/photo-1532187643603-ba119ca4109e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
            </div>           
        </div>
    </section>

    <section class="container-fluid px-0 content" id="info">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <img class="img-fluid"  src="https://images.unsplash.com/photo-1517945655801-7556e95e9d0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <h3>Precious Stone Removal</h3>
                        <ul>
                            <li>Precious Metal Jewelry containing diamonds or other precious stones can be
                                    processed in an acid solution which will cleanly drop the stones out of the
                                    material untouched by tools and turn the precious metals into a liquid solution.
                                    </li>
                            <li>The cleaned and undamaged stones will then be returned in their entirety to you
                                    and the precious metals will be chemically transformed from the liquid to a
                                    powder, which you will be compensated for as we will melt and assay this powder
                                    as described in the above service.
                                    </li>
                        </ul>
                    </div>
                </div>           
            </div>

        </div>
    </section>


<% include partials/footer %>